<%- include('../partials/head') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homie Stuff</title>
  <link rel="stylesheet" href="\css\styles.css">
</head>

<body>
  <main>
    <div class="title">
      <h1>The Mission</h1>
      <h3>Make affordable couches for everyone and make buying couches easy and fun</h3>
    </div>
    
    <div class="aboutContainer">
      <div clas="fillerItem"></div>
        <div class="aboutItem">
            <h2>How will we do this:</h2>
            <p>When our build your perfect couch feature is added. It allow us to just make what you want so you get the perfect couch for you and we save on materials. We also plan on adding features that allow you to add requirements that you want the couch to meet so you can search for couches fast and find the perfect one faster.</p>
        </div>
        <div class="aboutItem">
            <h2>What we have done so far to do this:</h2>
            <p>We make all of our own products and make them when a costumer ask for it with in hours. This allows us to not over produce and allows us to only buy the materials we need so we can sell them for less. We also have search bars that help you search for couches you want. We are slowly starting to encompass the new build your perfect couch idea too.</p>
        </div>
        <div class="aboutItem">
            <h2>How will it grow and continue:</h2>
            <p>We plan on listen to all of our customers ideas that then send through us through or contact tab. We are willing to try things that are at popular demand. If multiple people want the same thing we are going to try to encompass it whether that be about the prices or just overall funtionality.</p>
        </div>
        <div clas="fillerItem"></div>
    </div>
    <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
  </main>

</body>
</html>
<%- include('../partials/foot') %>
