<%- include('../partials/head') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homie Stuff</title>
  <link rel="stylesheet" href="\css\styles.css">
</head>

<body>
  <main>
    <h2>The Mission</h2>
    <h5>Make affordable couches for everyone</h5>
    <div class="aboutContainer">
      <div clas="fillerItem"></div>
        <div class="aboutItem">
            <h3>How will we do this:</h3>
            <h5>Heres how</h5>
        </div>
        <div class="aboutItem">
            <h3>What we have done so far to do this:</h3>
            <h5>Heres how</h5>
        </div>
        <div class="aboutItem">
            <h3>How will it grow and continue:</h3>
            <h5>Heres how</h5>
        </div>
        <div clas="fillerItem"></div>
    </div>
    
  </main>

</body>
</html>
<%- include('../partials/foot') %>
