<%- include('../partials/head') %>
<div class="title">
    <h1>Blog</h1>
  </div>
<div class="blogContainer">
  <div class="fillerItem"></div>

  <div class="blogItem">
    <div class="post">
      <h2>How to Choose the Perfect Couch for Your Living Room</h2>
      <p>You want to measure the space of the place your going to be putting it. Make sure you note where doorways and things are. Then you are going to decide on what type of couch you think would look best : a L sectional, standard or a love seat. Then your going to want to pick out a style. This may include color lines or overall appeal of the couch. Then your going to want to buy the couch and try it out in the space. If you realize within a month that you don't like it you can send it back to us and get all your moeny back. After a month we will not take returns.</p>
    </div>
  </div>

  <div class="blogItem">
    <div class="post">
      <h2>New Feature!!! Design Your Own Couch</h2>
      <p>With our new custom couch builder you will be able to pick colors, leather, fabric and style of couch. We have come to re3alize that sometime the couches we put out are to basic or don't fit your style and we want to fix that. We want everyone to have a couch that's their style. So as of December 20th this new feature will be added. This gives you enough time to buy a new couch for the holidays. All of this is just the tip of the iceberg we love your feedback and want to more thing we should add or fix, so make sure to go to the contact tab on our website and shoot us some ideas. Enjoy Shopping! </p>
    </div>
  </div>
  <div class="fillerItem"></div>
<div class="space"></div>
      <div class="space"></div>
</div>
<%- include('../partials/foot') %>
