<%- include('../partials/head') %>
<div class="formContainer">
    <form method="post" action="#">
      <label>Name<br><input type="text" placeholder="Your name" required></label><br><br>
      <label>Email<br><input type="email" placeholder="you@example.com" required></label><br><br>
      <label>Message<br><textarea rows="4" placeholder="How can we help?"></textarea></label><br><br>
      <button class="btn" type="submit" disabled>Submit</button>
    </form>
  </div>
      </div>

<%- include('../partials/foot') %>
  