<%- include('../partials/head') %>
<div class="title">
  <h1>Services</h1>
</div>
<div class="serviceContainer">
  <div class="serviceItem">
    <h2>Free shipping-</h2>
    <h4>We will ship the couch to you for free it's that easy. We will deliver it to the door or the curb with no extra fees or minimums.</h4>
  </div>
  <div class="serviceItem">
    <h2>Assembly-</h2>
    <h4>This part will cost a little extra but it is totally worth it. We will assemble your new couch and put it where you want it. We wil also remove the old couch and move it out. It will only cost an extra couple 100 dollars or so.</h4>
  </div>
  <div class="serviceItem">
    <h2>Payment Plans-</h2>
    <h4>Your dream couch is closer than you think. With our flexible payment plans, you can spread the cost over time — making comfort and style easy on your budget. Most of our customers get plans that are only 50 to 100 dollars a month.</h4>
  </div>
  <div class="serviceItem">
    <h2>Protection Plans-</h2>
    <h4>Life happens, but your couch doesn’t have to show it. Our protection plans give you coverage for damages, stains, and other surprises, keeping your furniture looking like new for years to come. Our one goal is just to keep your couch going no matter what life throws at it.</h4>
  </div>
  <div class="serviceItem">
    <h2>Build a Couch-</h2>
    <h4>We’re excited to announce a brand-new feature that will let you customize every detail of your couch — from fabric and color to shape, leg style, and cushion firmness. With our upcoming Couch Builder, you’ll be able to create a sofa that perfectly matches your style, space, and comfort preferences. Stay tuned — your dream couch is about to become a reality!</h4>
  </div>
  <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
</div>
<%- include('../partials/foot') %>
